.YMT {
    font-family: 'Lemon Jelly Personal Use', sans-serif;
    margin-top: 80%;
    animation: FlyIn 1400ms;
    animation-fill-mode: forwards;
    font-size: 700%;
    animation-play-state: initial;
}
.Alb {
    margin-top: 10%;
    background: mediumpurple;
    border-radius: 60px;
    padding: 7%;
    animation-fill-mode: forwards;
    animation: FadeIn 3s;
    animation-play-state: initial;
}
.Album-cover {
    width: 200px;
    margin-left: 1%;
    cursor: pointer;

}
h1 {
    color: #001f4e;
    text-align: center;
    font-size: 500%;
    margin: 0;
}
h3 {
    text-align: center;
    margin-top: 12%;
    animation-fill-mode: forwards;
    animation: FadeIn 2s;
    animation-play-state: initial;
}
body {
    background: lavender;
}
@keyframes FlyIn {
    from { opacity: 0; }
    to { opacity: 1; margin-top: 0 }
}
@keyframes FadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}